p{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    border: 1px solid rgb(221, 14, 14);
    margin: 5%;
}
mark{
    background-color: rgb(191, 129, 233);
}
html{
    height: 250%;
}
